{% extends 'base.html' %}
{% block content %}
<main class="main">
<div id="header" class="row pt-5 mt-5 justify-content-center">
  <div id="header" class="card registration-card text-center">
    <h3 id="header" class="card-body register-header">Sign-up and start taming your <u>Monkey Mind</u> today!</h3>
  </div>
</div>

<div class="container-fluid">
  <div class="row mt-5">
    <div class="col-lg-6 registration-column text-center">
      <div class="card registration-card">
      <h3 id="register" class="card-title register-header">Register Your Account</h3>
      <form id="account" method="POST" class="registration-form mt-4">
        {% csrf_token %}
        <div class="input-group mb-4">
          <input type="text" placeholder="USERNAME" name="username" required> 
        </div>
        <div class="input-group mb-4">
          <input type="password" placeholder="PASSWORD" name="password1" required>
        </div>
        <div class="input-group mb-4">
          <input type="password" placeholder="PASSWORD" name="password2" required>
        </div>
          {% if error_message %}
            <p>{{ error_message }}</p>
          {% endif %}
          {% comment %} <div class="d-flex justify-content-center mt-3 login_container">
            <a class="signin-button" href="{% url 'create_profile' user.id %}">Signin</a>
          </div> {% endcomment %}
        </form>
      </div>
    </div>
      <div class="col-lg-6 text-center">
        <div class="card signup-info">
          <h4 class="card-title register-info-header"><span style="background-color: #FFFF00">Instructions</span></h4>
          <span class="info-span my-1">Username</span>
          <ul class="signup-ol">
          <li>Username must be fewer than 100 characters.</li>
        </ul>
        <span class="info-span my-1">Password</span>
        <ul class="signup-ol">
          <li>Password must be at least 8 characters</li>
        </ul>
        <ul class="signup-ol">
          <li>Avoid using personal info!</li>
        </ul>
      </div>
    </div>
  </div>
</main>

{% endblock content %}