{% extends 'base.html' %}
{% load static %}


{% block content %}
    <main role="main" class="inner-cover">
      <div class="card-container">
      <div class="category">
        {% for category in meditations_data %}
        {% if category.meditations|length >= 3 %}
        <h3>{{ category.category_name }}</h3>
         <div class="card-group">
            <div class="card">
                <img class="card-img-top" src="{% static '/images/meditations/meditation4.jpg' %}" alt="Card image cap">
                <div class="card-body">
                <h5 class="card-title">{{ category.meditations.0.name }}</h5>
                <p class="card-text">{{ category.meditations.0.content }}</p>
                </div>
                <div class="card-footer">
                <small class="text-muted">{{ category.meditations.0.created_on }}</small>
                </div>
            </div>
            <div class="card">
                <img class="card-img-top" src="{% static '/images/meditations/meditation2.jpg' %}" alt="Card image cap">
                <div class="card-body">
                <h5 class="card-title">{{ category.meditations.1.name }}</h5>
                <p class="card-text">{{ category.meditations.1.content }}</p>
                </div>
                <div class="card-footer">
                <small class="text-muted">{{ category.meditations.1.created_on }}</small>
                </div>
            </div>
            <div class="card">
                <img class="card-img-top" src="{% static '/images/meditations/meditation3.jpg' %}" alt="Card image cap">
                <div class="card-body">
                <h5 class="card-title">{{ category.meditations.2.name }}</h5>
                <p class="card-text">{{ category.meditations.2.content }}</p>
                </div>
                <div class="card-footer">
                <small class="text-muted">{{ category.meditations.2.created_on }}</small>
                </div>
            </div>
        </div>
        {% endif %}
        {% endfor %}
      </div>
      </div>
    </main>


  {% endblock %}


