{% extends 'base.html' %}
{% load static %}


{% block content %}
    <main role="main" class="inner-cover">
      <div class="card-container">
      <div class="category">
        {% for category in categories %}
        <a href="{% url 'categories_' category.id %}">
        <h3>{{ category.id.name }}</h3>
        {% endfor %}
      </div>
        <div class="card-group">
            <div class="card">
                <img class="card-img-top" src="{% static '/images/sky.png' %}" alt="Card image cap">
                <div class="card-body">
                <h5 class="card-title">{{ meditation.name }}</h5>
                <p class="card-text">{{ meditation.content }}</p>
                </div>
                <div class="card-footer">
                <small class="text-muted">{{ meditation.created_on }}</small>
                </div>
            </div>
            <div class="card">
                <img class="card-img-top" src="{% static '/images/sky.png' %}" alt="Card image cap">
                <div class="card-body">
                <h5 class="card-title">{{ meditation.name }}</h5>
                <p class="card-text">{{ meditation.content }}</p>
                </div>
                <div class="card-footer">
                <small class="text-muted">{{ meditation.created_on }}</small>
                </div>
            </div>
            <div class="card">
                <img class="card-img-top" src="{% static '/images/sky.png' %}" alt="Card image cap">
                <div class="card-body">
                <h5 class="card-title">{{ meditation.name }}</h5>
                <p class="card-text">{{ meditation.content }}</p>
                </div>
                <div class="card-footer">
                <small class="text-muted">{{ meditation.created_on }}</small>
                </div>
            </div>
        </div>
      </div>
    </main>

  {% endblock %}
