{% extends 'base.html' %}
{% load static %}

{% block content %}

<div class="container-form">
    <div class="inner-container">
        <form method="POST" enctype="multipart/form-data" action="{% url 'edit_profile' user.id %}"> 
        {% csrf_token %}
        {{ profile_form.as_p }}
        <button type="submit" class="btn-info">Update Profile</button>
        </form>
    </div>
</div>

{% endblock %} 

Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui delectus laboriosam veniam quidem vel sed reiciendis animi similique provident quisquam culpa reprehenderit pariatur beatae eum, sint quam maxime. 