{% extends 'base.html' %}
{% load static %}

{% block content %}


  <div class="meditation-name">
      <h2 class="text-light">{{ request.category.meditation.name }}</h2>
  </div>
  <div>
    <img class="meditation-pic" src="{% static 'images/meditations/meditation4.jpg' %}">
  </div>
  <div>
    <div class="row">
      <div class="col-xl-4">
        <span>
          {% for meditation in category.meditation_set.all %}
          <a href="{% url 'meditation_detail' meditation.id %}">
            <ul>
              {{ request.meditation.content }}
            </ul>
          </a>
          {% endfor %}
        </span>
      </div>
   


{% endblock %}  
