{% comment %} {% extends 'base.html' %}
{% load static %}

{% block content %}

<div class="jumbotron-fluid">
  <div class="meditation-name">
      <h2 class="text-light">{{ meditation.name }}</h2>
  </div>
  <div class="jumbo-img-container">
    <img src="{% static 'images/sky.png' %}">
  </div>
  <div class="container">
    <div class="row">
      <div class="col-xl-4">
        <span>
          {% for meditation in category.meditation_set.all %}
          <a href="{% url 'meditation_detail' meditation.id %}">
            <ul>
              {{ meditation.content }}
            </ul>
          </a>
          {% endfor %}
        </span>
    
      </div>
      <div class="col-xl-8">
        <a href="{% url 'article_add' city.id %}" class="btn">Add Post</a>
      </div>
    </div>
  </div>
</div>

{% endblock %}  {% endcomment %}
