{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class= "container-fluid text-center pt-5">
</div>

<div class= "container-fluid text-center">
  <div class= "row">
    <div class= "col-xl-6">
      <div class="card pt-4">
        <div class="card-title">
          <h2>Meditations</h2>
        </div>
        <div class="card-body">
          <ul class="good-bye-padding">
          {% for meditation in meditations %}
          {% comment %} <li class="meditation-lists"><a href="{% url 'meditation_detail' meditation.id %}">{{ meditation.name }}</a></li>  {% endcomment %}
          {% empty %}
            <li class="meditation-lists">No meditations have been added yet.</li>
          {% endfor %}
          </ul>
        </div>
      </div>
    </div>
    <div class= "col-xl-6">
      <div class="card pt-4">
        <div class="card-title">
          <h2>Meditator</h2>
        </div>
        <div class="card-top">
            {% if request.user.profile.imageURL.url != NULL %}
          <img src="{{ request.user.profile.imageURL.url }}" class="img-fluid">
          {% else %}
            <img src="https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_960_720.png">
          {% endif %}
        </div>
        <div class="card-body">
          <div>
            <span>Username: {{ request.profile.name }}</span>
          </div>
          <div>
            <span>Joined on: {{ request.user.login }}</span>
          </div>
          {% comment %} <a href="{% url 'edit_profile' profile.id %}" method="POST">Edit Profile</a>  {% endcomment %}
        </div>
      </div>
    </div>
  </div>
</div>


{% endblock %} 