.registration-card {
    align-items: center;
    align-items: center;
    padding: 1.5rem;
    width: 50%;
    float: right;
    height: 100%;
}

.info-span {
    text-decoration: underline;
}

.signup-info {
    padding: 1rem;
    width: 50%;
}

.signup-ol {
    list-style: none;
    text-align: center;
    padding-inline-start: 0 !important;
}